// Sobreescribir las variables antes de importar Bootstrap
$primary: #a9cae0; // Cambia el color principal
$font-size-base: 1.1rem; // Cambia el tamaño de la fuente

// Extender y modificar la clase `.btn-primary`
.btn-primary {
    background-color: $primary; // Utiliza la nueva variable para el color de fondo
    border: 2px solid coral;
    &:hover {
      background-color: darken($primary, 10%); // Un color un poco más oscuro al hacer hover
    }
}

.btn-info{
  background-color: $primary;
  border: 2px solid coral;
  &:hover {
    background-color: darken($primary, 10%); // Un color un poco más oscuro al hacer hover
  }
}